@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background-color: #F4FAFF;
  color: #001217;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container-xy {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.section-scroll {
  overflow-y: scroll;
  padding-right: 15px;
}

.section-black {
  background-color: #001217;
  color: #F4FAFF;
}
.section-black hr {
  border-color: #E4EBEF;
}

.section-white {
  background-color: #F4FAFF;
  color: #001217;
}
.section-white hr {
  border-color: #3B4D5A;
}

.section-gradient {
  background: #005db4;
  background: linear-gradient(157deg, #005db4 0%, #00b18e 100%);
}

.section-gradient-s {
  background: linear-gradient(34deg, #B5C6D2 0%, #F4FAFF 33%, #F4FAFF 71%, #B5C6D2 100%);
}

.transition {
  transition: all 0.2s ease-in-out;
}

.font-title {
  font-size: 30px !important;
}

.font-subtitle {
  font-size: 24px !important;
}

.font-big {
  font-size: 18px !important;
}

.font-gray-d {
  color: #3B4D5A;
}

.font-gray {
  transition: all 0.2s ease-in-out;
  color: #B5C6D2;
}

.font-wrong {
  color: #e63a62;
}

.font-prim {
  color: #0084ff;
}

.font-sec {
  color: #00b18e;
}

.info-box {
  background-color: #E4EBEF;
  border-left: 10px solid #0084ff;
  padding: 15px 25px;
  background-color: #d1efff;
}

.warning-box {
  background-color: #E4EBEF;
  border-left: 10px solid #e63a62;
  padding: 15px 25px;
}
.warning-box h3 {
  color: #e63a62;
}

.section-login {
  width: 480px;
}

.app-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 54px);
  max-height: calc(100vh - 54px);
  overflow: hidden;
}

.page-courtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 18, 23, 0.75);
  z-index: 9000;
}

.app-courtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 18, 23, 0.75);
}

.drawer {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100vh;
  z-index: 10000;
}

.drawer-scroll {
  height: 100%;
}

.drawer-close {
  position: absolute !important;
  top: 45px;
  right: -75px;
}

.drawer-right {
  left: auto;
  right: 0;
}
.drawer-right .drawer-close {
  right: auto;
  left: -75px;
}

@media (max-width: 575.98px) {
  .drawer {
    height: 100%;
    width: 100%;
  }
  .drawer-close {
    position: relative !important;
    top: 0;
    right: 0;
  }
  .drawer-scroll {
    height: auto !important;
  }
  .drawer-right .drawer-close {
    top: 0;
    left: 0;
  }
}
.floating-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 45px;
  transition: all 0.2s ease-in-out;
}
.floating-menu button,
.floating-menu .btn {
  text-align: left;
}

.notification-box {
  max-width: 380px;
  border-left: 8px solid #E4EBEF;
  line-height: 14px;
  cursor: pointer;
}
.notification-box:hover {
  background-color: #E4EBEF;
  border-color: #B5C6D2;
}
.notification-box:hover .notification-btns {
  opacity: 1;
}
.notification-box.active {
  border-color: #0084ff;
  background-color: #E4EBEF;
}
.notification-box.active:hover {
  background-color: #d1efff;
  border-color: #005db4;
}
.notification-box .notification-btns {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.notification-box .date {
  display: inline-block;
  color: #3B4D5A;
  font-weight: bold;
  padding-bottom: 2px;
}

.app-system-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.window-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
  background-color: rgba(0, 18, 23, 0.75);
}

.window {
  display: block;
  background-color: #F4FAFF;
  width: 100%;
  max-width: 1000px;
  margin: 50px;
}
.window .bar {
  position: relative;
  background: #005db4;
  background: linear-gradient(85deg, #005db4 0%, #00b18e 100%);
  color: #F4FAFF;
  font-size: 24px !important;
  font-weight: bold;
}
.window .bar span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
}
.window .bar span::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 40px;
  top: 0;
  right: 54px;
  background-color: transparent;
  background: linear-gradient(90deg, transparent, #00b18e 66%);
}
.window .window-body {
  width: 100%;
  overflow-y: scroll;
  max-height: 80vh;
}

@media (max-width: 767.98px) {
  .window {
    margin: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100%;
  }
  .bar {
    width: 100vw;
  }
  .window-body {
    height: calc(100% - 54px);
    max-height: 100vh !important;
    overflow-x: hidden;
  }
  .window-title {
    max-width: calc(100% - 54px);
  }
}
.section-gray {
  background-color: #B5C6D2;
  color: #001217;
}

.section-gray-l {
  background-color: #E4EBEF;
  color: #001217;
}

.section-gray-d {
  background-color: #3B4D5A;
  color: #F4FAFF;
}

input,
textarea,
.form-control {
  display: block;
  width: 100%;
  border: 1px solid #001217;
  background-color: #E4EBEF;
  border-radius: 0;
  color: #001217;
  font-size: 14px;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
}
input:hover, input:focus,
textarea:hover,
textarea:focus,
.form-control:hover,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0084ff;
}
input:focus,
textarea:focus,
.form-control:focus {
  background-color: #d1efff;
  color: #0084ff;
}
input::placeholder,
textarea::placeholder,
.form-control::placeholder {
  color: #3B4D5A;
}

.input-wrong {
  border-color: #e63a62 !important;
  color: #e63a62 !important;
  background-color: #ffd5df !important;
}

label {
  display: block;
}

.input-btn {
  display: flex;
}
.input-btn input {
  border-right: 0;
}
.input-btn input:hover + button, .input-btn input:focus + button {
  border-color: #0084ff !important;
}
.input-btn button {
  border: 1px solid #001217 !important;
  border-left: 0 !important;
  background-color: #E4EBEF;
}
.input-btn button:hover {
  background-color: #B5C6D2;
}
.input-btn button.active {
  background-color: #43bdff;
}
.input-btn button.active:hover {
  background-color: #B5C6D2;
}

.input-unit {
  display: block;
  padding: 8px 12px;
  background-color: #B5C6D2;
  border: 1px solid #001217;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.input-unit.input-unit-middle {
  border-left: 0;
  border-right: 0;
}
.input-unit.input-unit-end {
  border-left: 0;
}

.section-gray .input-unit {
  background-color: #3B4D5A;
  color: #F4FAFF;
}

.fake-input {
  display: flex;
  border: 1px solid #001217;
  transition: all 0.2s ease-in-out;
}
.fake-input input,
.fake-input .input-unit {
  border: 0;
  transition: all 0.2s ease-in-out;
}
.fake-input:hover, .fake-input:focus-within {
  border-color: #0084ff;
}
.fake-input .fake-input-text {
  padding: 8px 0;
  background-color: #E4EBEF;
  transition: all 0.2s ease-in-out;
}
.fake-input.fake-input-validated {
  border-color: #007b63;
}
.fake-input.fake-input-validated input,
.fake-input.fake-input-validated .fake-input-text {
  background-color: #a7ffed;
}
.fake-input.fake-input-validated .input-unit {
  background-color: #00b18e;
  color: #F4FAFF;
}

.input-group.input-validated input {
  border-color: #007b63 !important;
  background-color: #a7ffed;
}
.input-group.input-validated .input-unit {
  border-color: #007b63 !important;
  background-color: #00b18e;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.section-gray-l input,
.section-gray-l textarea,
.section-gray-l .form-control {
  background-color: #F4FAFF;
}
.section-gray-l input:focus,
.section-gray-l textarea:focus,
.section-gray-l .form-control:focus {
  background-color: #d1efff;
  color: #0084ff;
}

.drawer-slide-in-left {
  animation: drawer-slide-in-left;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.drawer-slide-out-left {
  animation: drawer-slide-out-left;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes drawer-slide-in-left {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}
@keyframes drawer-slide-out-left {
  0% {
    left: 0;
  }
  100% {
    left: -500px;
  }
}
.drawer-slide-in-right {
  animation: drawer-slide-in-right;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.drawer-slide-out-right {
  animation: drawer-slide-out-right;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes drawer-slide-in-right {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}
@keyframes drawer-slide-out-right {
  0% {
    right: 0;
  }
  100% {
    right: -500px;
  }
}
.fade-in {
  opacity: 0;
  animation: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.btn-fade-in {
  opacity: 0;
  animation: fade-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 0.1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  opacity: 0;
  animation: fade-out;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.window-slide-in {
  animation: window-slide-in;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.window-slide-out {
  animation: window-slide-out;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

@keyframes window-slide-in {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes window-slide-out {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
.loading {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  background-color: #3B4D5A;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

.loading::before,
.loading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3B4D5A;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.loading::before {
  left: -35px;
}

.loading::after {
  right: -35px;
  animation-delay: 1s;
}

.loading-small {
  height: 15px;
  width: 15px;
}
.loading-small::before, .loading-small::after {
  height: 15px;
  width: 15px;
}
.loading-small::before {
  left: -20px;
}
.loading-small::after {
  right: -20px;
}

.btn-prim .loading-small {
  animation-name: loading-prim;
  background-color: #E4EBEF;
}
.btn-prim .loading-small::before, .btn-prim .loading-small::after {
  animation-name: loading-prim;
  background-color: #E4EBEF;
}

.btn-sec .loading-small {
  animation-name: loading-sec;
  background-color: #E4EBEF;
}
.btn-sec .loading-small::before, .btn-sec .loading-small::after {
  animation-name: loading-sec;
  background-color: #E4EBEF;
}

@keyframes loading {
  10% {
    background-color: #0084ff;
  }
  30% {
    background-color: #0084ff;
  }
  80% {
    background-color: #3B4D5A;
  }
  100% {
    background-color: #3B4D5A;
  }
}
@keyframes loading-prim {
  10% {
    background-color: #3B4D5A;
  }
  30% {
    background-color: #3B4D5A;
  }
  80% {
    background-color: #E4EBEF;
  }
  100% {
    background-color: #E4EBEF;
  }
}
@keyframes loading-sec {
  10% {
    background-color: #43bdff;
  }
  30% {
    background-color: #43bdff;
  }
  80% {
    background-color: #E4EBEF;
  }
  100% {
    background-color: #E4EBEF;
  }
}
button,
.btn {
  border: 0 !important;
  border-radius: 0 !important;
  position: relative;
}
button:focus,
.btn:focus {
  outline: 0 !important;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
  white-space: nowrap;
}

.btn-prim {
  background-color: #0084ff;
  color: #F4FAFF;
}
.btn-prim:hover {
  background-color: #43bdff !important;
  color: #F4FAFF !important;
}

.btn-sec {
  background-color: #001217;
  color: #F4FAFF;
}
.btn-sec:hover {
  background-color: #3B4D5A !important;
  color: #F4FAFF !important;
}

.navbar .btn-sec:hover,
.section-black .btn-sec:hover {
  background-color: #0084ff !important;
}

.btn-dis {
  background-color: #B5C6D2;
  color: #E4EBEF;
  cursor: default !important;
}
.btn-dis:active, .btn-dis:focus, .btn-dis:hover {
  background-color: #B5C6D2 !important;
  color: #E4EBEF !important;
}

.btn-x {
  background-color: #001217;
  color: #F4FAFF;
}
.btn-x:hover {
  background-color: #e63a62 !important;
  color: #F4FAFF !important;
}

.btn-wrong {
  background-color: #e63a62;
  color: #F4FAFF;
}
.btn-wrong:hover {
  background-color: #a61c3c !important;
}

.btn-tet {
  background-color: #00b18e;
  color: #F4FAFF;
}
.btn-tet:hover {
  background-color: #007b63 !important;
}

.btn-tr {
  background-color: transparent;
  color: #001217;
}
.btn-tr:hover {
  background-color: #B5C6D2;
  color: #001217;
}
.btn-tr.btn-active {
  background-color: #43bdff !important;
}
.btn-tr.btn-active:hover {
  background-color: #d1efff !important;
}

.section-gray .btn-tr:not(.btn-active):hover {
  background-color: #E4EBEF !important;
}

.btn-icon {
  padding: 4px;
  position: relative;
}
.btn-icon .pill {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #e63a62;
  padding: 3px 8px;
  font-size: 12px;
  color: #001217;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn-icon:hover .pill {
  background-color: #001217;
  color: #F4FAFF;
}

.btn-dock {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #F4FAFF;
}
.btn-dock:hover {
  background: rgba(228, 235, 239, 0.25) !important;
  color: #F4FAFF !important;
}
.btn-dock img {
  padding-right: 10px;
}
.btn-dock span {
  padding-right: 8px;
}
.btn-dock.active {
  background: rgba(228, 235, 239, 0.25);
  color: #F4FAFF;
}

.section-white .btn-dock {
  color: #001217;
  background-color: #E4EBEF;
}
.section-white .btn-dock:hover {
  background-color: #B5C6D2 !important;
  color: #001217 !important;
}

.btn-full-width {
  width: 100%;
}

.btn-icon-small {
  padding: 2px !important;
}
.btn-icon-small img {
  width: 35px;
}

.btn-icon-text {
  padding: 2px 25px 2px 8px;
}
.btn-icon-text img {
  margin-right: 10px;
  width: 41px;
}

.btn-icon-text-small {
  padding: 2px 25px 2px 8px;
  display: flex;
  align-items: center;
}
.btn-icon-text-small img {
  width: 35px;
  margin-right: 4px;
}

.btn-loading-courtain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: default;
}

.btn-prim .btn-loading-courtain {
  background-color: #0084ff;
}

.btn-sec .btn-loading-courtain {
  background-color: #001217;
}

.fake-link {
  display: inline;
  color: #0084ff;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.fake-link:hover {
  color: #43bdff;
}

.fake-link-black {
  color: #001217;
  text-decoration: none;
}

.link-help {
  color: #00b18e;
}
.link-help:hover {
  color: #34edc8;
}

.navbar {
  width: 100vw;
  background-color: #3B4D5A;
  color: #F4FAFF;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: inline-block;
}
.checkbox-container label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.checkbox-container label:hover {
  color: #0084ff;
}
.checkbox-container label:hover input ~ .checkmark {
  border-color: #0084ff;
}
.checkbox-container label input:checked ~ .checkmark {
  background-color: #0084ff;
}
.checkbox-container label input:hover:checked ~ .checkmark {
  background-color: #43bdff;
  border-color: #001217;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #001217;
  transition: all 0.2s ease-in-out;
}
.checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6.5px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid #F4FAFF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox-container.radio .checkmark {
  border-radius: 50%;
}
.checkbox-container.radio .checkmark::after {
  width: 8px;
  height: 8px;
  top: 5px;
  left: 5px;
  border: none;
  background-color: #F4FAFF;
  border-radius: 50%;
}

.section-gray-d .checkbox-container .checkmark {
  border-color: #F4FAFF !important;
}
.section-gray-d .checkbox-container:hover .checkmark {
  border-color: #43bdff !important;
}
.section-gray-d .checkbox-container:hover label {
  color: #43bdff;
}
.section-gray-d .checkbox-container:hover label input:checked ~ .checkmark {
  border-color: #F4FAFF !important;
}

.csi-container {
  position: relative;
  display: block;
  width: 100%;
}
.csi-container:hover .csi-selected {
  border-color: #0084ff;
  color: #0084ff;
}
.csi-container:hover .csi-selected::after {
  border-color: #0084ff !important;
}

.csi-selected {
  border: 1px solid #001217;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.csi-selected::before {
  content: "";
  position: absolute;
  top: 1px;
  right: 1px;
  height: calc(100% - 2px);
  width: 50px;
  background-color: #F4FAFF;
  transition: all 0.2s ease-in-out;
}
.csi-selected::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 15px;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #001217;
  border-right: 2px solid #001217;
  transform: rotateZ(45deg);
  transition: all 0.2s ease-in-out;
}
.csi-selected:hover {
  background-color: #d1efff;
}
.csi-selected:hover::before {
  background-color: #d1efff;
}

.csi-options-dropdown {
  position: absolute;
  top: 38px;
  left: 0;
  width: 100%;
  border: 1px solid #0084ff;
  border-top: 0;
  background-color: #F4FAFF;
  z-index: 100;
}

.csi-option {
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.csi-option:hover {
  color: #0084ff;
  background-color: #d1efff;
}

.section-gray .csi-selected {
  background-color: #E4EBEF;
}
.section-gray .csi-selected::before {
  background-color: #E4EBEF;
}
.section-gray .csi-selected:hover {
  background-color: #d1efff;
}
.section-gray .csi-selected:hover::before {
  background-color: #d1efff;
}
.section-gray .csi-options-dropdown {
  background-color: #E4EBEF;
}

.section-gray-l .csi-selected {
  background-color: #F4FAFF;
}
.section-gray-l .csi-selected:hover {
  background-color: #d1efff;
}

.separator {
  padding: 15px 0;
  border-left: 1px solid #001217;
}

.scroll-columns {
  height: calc(100% - 55px);
  max-width: 100vw;
  display: flex;
  overflow-x: hidden !important;
}
.scroll-columns .scroll-column {
  height: 100%;
  display: block;
  overflow-y: scroll;
}

.scroll-column-list {
  width: 60vw;
}

.scroll-column-preview {
  width: 40vw;
}

.scroll-column-preview-shown {
  position: relative;
  left: auto;
}

@media (max-width: 991.98px) {
  .scroll-column-list {
    width: 100vw;
  }
  .scroll-column-preview {
    position: absolute;
    left: 100vw;
    width: 100vw;
    top: 0;
    z-index: 9999;
    overflow-x: hidden;
  }
  .scroll-column-preview-shown {
    animation: preview-slide-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  .scroll-column-preview-hide {
    animation: preview-slide-out;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}
@keyframes preview-slide-in {
  0% {
    left: 100vw;
  }
  100% {
    left: 0;
  }
}
@keyframes preview-slide-out {
  0% {
    left: 0;
  }
  100% {
    left: 100vw;
  }
}
.btn-sort {
  position: relative;
  background-color: transparent;
  width: 5px;
  padding: auto 0;
  transition: all 0.2s ease-in-out;
}
.btn-sort::after {
  position: absolute;
  content: "";
  border: 2px solid #F4FAFF;
  border-right: 0;
  border-top: 0;
  width: 12px;
  height: 12px;
  top: 3px;
  left: 18px;
  transform: rotateZ(-45deg);
  transition: all 0.2s ease-in-out;
}
.btn-sort:hover {
  background-color: #001217;
}
.btn-sort:hover::after {
  border-color: #F4FAFF !important;
}
.btn-sort.btn-sort-active {
  background-color: #0084ff;
}
.btn-sort.btn-sort-active:hover {
  background-color: #43bdff;
}
.btn-sort.btn-sort-active::before {
  border-color: #F4FAFF;
}
.btn-sort.btn-sort-desc::after {
  transform: rotateZ(135deg);
  top: 8px;
}

.section-gray .btn-sort.btn-sort-active::after,
.section-sm-gray .btn-sort.btn-sort-active::after,
.section-md-gray .btn-sort.btn-sort-active::after,
.section-lg-gray .btn-sort.btn-sort-active::after,
.section-xl-gray .btn-sort.btn-sort-active::after {
  border-color: #F4FAFF;
}
.section-gray .btn-sort::after,
.section-sm-gray .btn-sort::after,
.section-md-gray .btn-sort::after,
.section-lg-gray .btn-sort::after,
.section-xl-gray .btn-sort::after {
  border-color: #001217;
}

.btn-star {
  color: #B5C6D2;
  padding: 0;
  width: 100%;
  height: 100%;
}
.btn-star span {
  font-size: 30px;
}
.btn-star:hover {
  color: #3B4D5A;
}
.btn-star.btn-star-active {
  color: #e63a62 !important;
}
.btn-star.btn-star-active:hover {
  color: #a61c3c !important;
}

.list-item:hover .btn-star {
  color: #3B4D5A;
}
.list-item:hover .btn-star:hover {
  color: #001217;
}
.list-item:hover .font-gray {
  color: #E4EBEF;
}

.list-item {
  position: relative;
  background-color: #E4EBEF;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.list-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #B5C6D2;
  transition: all 0.2s ease-in-out;
}
.list-item .item-column {
  transition: all 0.2s ease-in-out;
}
.list-item:hover::before {
  background-color: #3B4D5A;
}
.list-item:hover {
  background-color: #B5C6D2;
}
.list-item:hover .item-column {
  border-color: #3B4D5A;
}

.section-title {
  font-size: 24px;
  background-color: #B5C6D2;
  color: #001217;
  font-weight: bold;
  padding: 5px 15px;
  border-left: 10px solid #3B4D5A;
}

.filter-pill {
  background-color: #d1efff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
}
.filter-pill span:not(.phrase) {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}
.filter-pill .phrase {
  display: inline-block;
  padding-left: 5px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.sep-right {
  border-right: 1px solid #B5C6D2;
}

.sep-right-none {
  border-right: 0;
}

@media (min-width: 576px) {
  .sep-sm-right {
    border-right: 1px solid #B5C6D2;
  }
  .sep-sm-right-none {
    border-right: 0;
  }
  .section-sm-gray {
    background-color: #B5C6D2;
    color: #001217;
  }
  .section-sm-gray .btn-sort::after {
    border-color: #001217;
  }
  .section-sm-gray-d {
    background-color: #3B4D5A;
    color: #F4FAFF;
  }
  .section-sm-gray-d .btn-sort::after {
    border-color: #F4FAFF;
  }
}
@media (min-width: 768px) {
  .sep-md-right {
    border-right: 1px solid #B5C6D2;
  }
  .sep-md-right-none {
    border-right: 0;
  }
  .section-md-gray {
    background-color: #B5C6D2;
    color: #001217;
  }
  .section-md-gray .btn-sort::after {
    border-color: #001217;
  }
  .section-md-gray-d {
    background-color: #3B4D5A;
    color: #F4FAFF;
  }
  .section-md-gray-d .btn-sort::after {
    border-color: #F4FAFF;
  }
}
@media (min-width: 992px) {
  .sep-lg-right {
    border-right: 1px solid #B5C6D2;
  }
  .sep-lg-right-none {
    border-right: 0;
  }
  .section-lg-gray {
    background-color: #B5C6D2;
    color: #001217;
  }
  .section-lg-gray .btn-sort::after {
    border-color: #001217;
  }
  .section-lg-gray-d {
    background-color: #3B4D5A;
    color: #F4FAFF;
  }
  .section-lg-gray-d .btn-sort::after {
    border-color: #F4FAFF;
  }
  .list-item.list-item-active {
    background-color: #B5C6D2;
  }
  .list-item.list-item-active .item-column {
    border-color: #3B4D5A;
  }
  .list-item.list-item-active {
    cursor: default;
  }
  .list-item.list-item-active::before {
    background-color: #0084ff;
  }
  .list-item-active .btn-star {
    color: #3B4D5A;
  }
  .list-item-active .btn-star:hover {
    color: #001217;
  }
  .list-item-active .font-gray {
    color: #E4EBEF;
  }
}
@media (min-width: 1200px) {
  .sep-xl-right {
    border-right: 1px solid #B5C6D2;
  }
  .sep-xl-right-none {
    border-right: 0;
  }
  .section-xl-gray {
    background-color: #B5C6D2;
    color: #001217;
  }
  .section-xl-gray .btn-sort::after {
    border-color: #001217;
  }
  .section-xl-gray-d {
    background-color: #3B4D5A;
    color: #F4FAFF;
  }
  .section-xl-gray-d .btn-sort::after {
    border-color: #F4FAFF;
  }
}
.scroll-column-half {
  width: 50%;
}

.tabs-container {
  background-color: #B5C6D2;
  border-bottom: 2px solid #0084ff;
}

.tab {
  margin: 0;
  background-color: #E4EBEF;
  border-radius: 5px 5px 0 0 !important;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.tab:hover {
  background-color: #d1efff;
}
.tab.tab-active {
  position: relative;
  outline: 2px solid #0084ff !important;
  background-color: #F4FAFF;
}
.tab.tab-active::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #F4FAFF;
}

.spindle-container {
  background-color: #E4EBEF;
  border-left: 10px solid #3B4D5A;
}
.spindle-container.spindle-wrong {
  border-color: #e63a62;
}

._sizes {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000000;
}

._size {
  padding: 5px 15px;
  background-color: #ff0044;
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  border-left: 8px solid #180e28;
}
._size.d-xl-flex {
  background-color: #006aff;
}
._size.d-lg-flex {
  background-color: #00db25;
}
._size.d-md-flex {
  background-color: #cfb700;
}
._size.d-sm-flex {
  background-color: #ff4400;
}

.__scroll {
  min-height: 200vh;
}

.__red {
  background-color: #ff0044;
}

.__orange {
  background-color: #ff4400;
}

.__yellow {
  background-color: #cfb700;
}

.__green {
  background-color: #00db25;
}

.__blue {
  background-color: #006aff;
}