@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background-color: #F4FAFF;
  color: #001217;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.container-xy {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.section-scroll {
  overflow-y: scroll;
  padding-right: 15px;
}

.section-black {
  background-color: #001217;
  color: #F4FAFF;
}
.section-black hr {
  border-color: #E4EBEF;
}

.section-white {
  background-color: #F4FAFF;
  color: #001217;
}
.section-white hr {
  border-color: #3B4D5A;
}

.section-gradient {
  background: #005db4;
  background: linear-gradient(157deg, #005db4 0%, #00b18e 100%);
}

.section-gradient-s {
  background: linear-gradient(34deg, #B5C6D2 0%, #F4FAFF 33%, #F4FAFF 71%, #B5C6D2 100%);
}

.transition {
  transition: all 0.2s ease-in-out;
}

.font-title {
  font-size: 30px !important;
}

.font-subtitle {
  font-size: 24px !important;
}

.font-big {
  font-size: 18px !important;
}

.font-gray-d {
  color: #3B4D5A;
}

.font-gray {
  transition: all 0.2s ease-in-out;
  color: #B5C6D2;
}

.font-wrong {
  color: #e63a62;
}

.section-login {
  width: 480px;
}

.app-container {
  position: relative;
  width: 100vw;
  height: calc(100vh - 54px);
  max-height: calc(100vh - 54px);
  overflow-y: hidden;
}

.page-courtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 18, 23, 0.75);
  z-index: 9000;
}

.app-courtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 18, 23, 0.75);
}

.drawer {
  position: absolute;
  top: 0;
  margin: 0;
  height: 100vh;
  z-index: 10000;
}

.drawer-scroll {
  height: 100%;
}

.drawer-close {
  position: absolute !important;
  top: 45px;
  right: -75px;
}

.drawer-right {
  left: auto;
  right: 0;
}
.drawer-right .drawer-close {
  right: auto;
  left: -75px;
}

.floating-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 45px;
  transition: all 0.2s ease-in-out;
}
.floating-menu button,
.floating-menu .btn {
  text-align: left;
}

.notification-box {
  max-width: 380px;
  border-left: 8px solid #E4EBEF;
  line-height: 14px;
  cursor: pointer;
}
.notification-box:hover {
  background-color: #E4EBEF;
  border-color: #B5C6D2;
}
.notification-box:hover .notification-btns {
  opacity: 1;
}
.notification-box.active {
  border-color: #0084ff;
  background-color: #E4EBEF;
}
.notification-box.active:hover {
  background-color: #d1efff;
  border-color: #005db4;
}
.notification-box .notification-btns {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.notification-box .date {
  display: inline-block;
  color: #3B4D5A;
  font-weight: bold;
  padding-bottom: 2px;
}

.app-system-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.window-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
  background-color: rgba(0, 18, 23, 0.75);
}

.window {
  display: block;
  background-color: #F4FAFF;
  width: 100%;
  max-width: 1000px;
  margin: 50px;
}
.window .bar {
  background: #005db4;
  background: linear-gradient(85deg, #005db4 0%, #00b18e 100%);
  color: #F4FAFF;
  font-size: 24px !important;
  font-weight: bold;
}
.window .window-body {
  width: 100%;
  overflow-y: scroll;
}

.section-gray {
  background-color: #B5C6D2;
  color: #001217;
}

.section-gray-l {
  background-color: #E4EBEF;
  color: #001217;
}

.section-gray-d {
  background-color: #3B4D5A;
  color: #F4FAFF;
}

input,
.form-control {
  display: block;
  width: 100%;
  border: 1px solid #001217;
  background-color: #E4EBEF;
  border-radius: 0;
  color: #001217;
  font-size: 14px;
  padding: 8px 12px;
  transition: all 0.2s ease-in-out;
}
input:hover, input:focus,
.form-control:hover,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #0084ff;
}
input:focus,
.form-control:focus {
  background-color: #d1efff;
  color: #0084ff;
}
input::-moz-placeholder, .form-control::-moz-placeholder {
  color: #3B4D5A;
}
input:-ms-input-placeholder, .form-control:-ms-input-placeholder {
  color: #3B4D5A;
}
input::placeholder,
.form-control::placeholder {
  color: #3B4D5A;
}

.drawer-slide-in-left {
  -webkit-animation: drawer-slide-in-left;
          animation: drawer-slide-in-left;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.drawer-slide-out-left {
  -webkit-animation: drawer-slide-out-left;
          animation: drawer-slide-out-left;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes drawer-slide-in-left {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

@keyframes drawer-slide-in-left {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes drawer-slide-out-left {
  0% {
    left: 0;
  }
  100% {
    left: -500px;
  }
}
@keyframes drawer-slide-out-left {
  0% {
    left: 0;
  }
  100% {
    left: -500px;
  }
}
.drawer-slide-in-right {
  -webkit-animation: drawer-slide-in-right;
          animation: drawer-slide-in-right;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.drawer-slide-out-right {
  -webkit-animation: drawer-slide-out-right;
          animation: drawer-slide-out-right;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes drawer-slide-in-right {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

@keyframes drawer-slide-in-right {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}
@-webkit-keyframes drawer-slide-out-right {
  0% {
    right: 0;
  }
  100% {
    right: -500px;
  }
}
@keyframes drawer-slide-out-right {
  0% {
    right: 0;
  }
  100% {
    right: -500px;
  }
}
.fade-in {
  opacity: 0;
  -webkit-animation: fade-in;
          animation: fade-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.btn-fade-in {
  opacity: 0;
  -webkit-animation: fade-in;
          animation: fade-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  opacity: 0;
  -webkit-animation: fade-out;
          animation: fade-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.window-slide-in {
  -webkit-animation: window-slide-in;
          animation: window-slide-in;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.window-slide-out {
  -webkit-animation: window-slide-out;
          animation: window-slide-out;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes window-slide-in {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes window-slide-in {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes window-slide-out {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes window-slide-out {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
.loading {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0 auto;
  background-color: #3B4D5A;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading::before,
.loading::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #3B4D5A;
  -webkit-animation-name: loading;
          animation-name: loading;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loading::before {
  left: -35px;
}

.loading::after {
  right: -35px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading-small {
  height: 15px;
  width: 15px;
}
.loading-small::before, .loading-small::after {
  height: 15px;
  width: 15px;
}
.loading-small::before {
  left: -20px;
}
.loading-small::after {
  right: -20px;
}

.btn-prim .loading-small {
  -webkit-animation-name: loading-prim;
          animation-name: loading-prim;
  background-color: #E4EBEF;
}
.btn-prim .loading-small::before, .btn-prim .loading-small::after {
  -webkit-animation-name: loading-prim;
          animation-name: loading-prim;
  background-color: #E4EBEF;
}

@-webkit-keyframes loading {
  10% {
    background-color: #0084ff;
  }
  30% {
    background-color: #0084ff;
  }
  80% {
    background-color: #3B4D5A;
  }
  100% {
    background-color: #3B4D5A;
  }
}

@keyframes loading {
  10% {
    background-color: #0084ff;
  }
  30% {
    background-color: #0084ff;
  }
  80% {
    background-color: #3B4D5A;
  }
  100% {
    background-color: #3B4D5A;
  }
}
@-webkit-keyframes loading-prim {
  10% {
    background-color: #3B4D5A;
  }
  30% {
    background-color: #3B4D5A;
  }
  80% {
    background-color: #E4EBEF;
  }
  100% {
    background-color: #E4EBEF;
  }
}
@keyframes loading-prim {
  10% {
    background-color: #3B4D5A;
  }
  30% {
    background-color: #3B4D5A;
  }
  80% {
    background-color: #E4EBEF;
  }
  100% {
    background-color: #E4EBEF;
  }
}
button,
.btn {
  border: 0 !important;
  border-radius: 0 !important;
  position: relative;
}
button:focus,
.btn:focus {
  outline: 0 !important;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}

.btn-prim {
  background-color: #0084ff;
  color: #F4FAFF;
}
.btn-prim:hover {
  background-color: #43bdff !important;
  color: #F4FAFF !important;
}

.btn-sec {
  background-color: #001217;
  color: #F4FAFF;
}
.btn-sec:hover {
  background-color: #3B4D5A !important;
  color: #F4FAFF !important;
}

.navbar .btn-sec:hover,
.section-black .btn-sec:hover {
  background-color: #0084ff !important;
}

.btn-dis {
  background-color: #B5C6D2;
  color: #E4EBEF;
  cursor: default !important;
}
.btn-dis:active, .btn-dis:focus, .btn-dis:hover {
  background-color: #B5C6D2 !important;
  color: #E4EBEF !important;
}

.btn-x {
  background-color: #001217;
  color: #F4FAFF;
}
.btn-x:hover {
  background-color: #e63a62 !important;
  color: #F4FAFF !important;
}

.btn-wrong {
  background-color: #e63a62;
  color: #F4FAFF;
}
.btn-wrong:hover {
  background-color: #a61c3c !important;
}

.btn-tet {
  background-color: #00b18e;
  color: #F4FAFF;
}
.btn-tet:hover {
  background-color: #007b63 !important;
}

.btn-tr {
  background-color: transparent !important;
  color: #001217;
}
.btn-tr:hover {
  background-color: #B5C6D2 !important;
  color: #001217 !important;
}

.btn-icon {
  padding: 4px;
  position: relative;
}
.btn-icon .pill {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #e63a62;
  padding: 3px 8px;
  font-size: 12px;
  color: #001217;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
.btn-icon:hover .pill {
  background-color: #001217;
  color: #F4FAFF;
}

.btn-dock {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #F4FAFF;
}
.btn-dock:hover {
  background: rgba(228, 235, 239, 0.25) !important;
  color: #F4FAFF !important;
}
.btn-dock img {
  padding-right: 10px;
}
.btn-dock span {
  padding-right: 8px;
}
.btn-dock.active {
  background: rgba(228, 235, 239, 0.25);
  color: #F4FAFF;
}

.section-white .btn-dock {
  color: #001217;
  background-color: #E4EBEF;
}
.section-white .btn-dock:hover {
  background-color: #B5C6D2 !important;
  color: #001217 !important;
}

.btn-full-width {
  width: 100%;
}

.btn-icon-small {
  padding: 2px !important;
}
.btn-icon-small img {
  width: 35px;
}

.btn-icon-text {
  padding: 2px 25px 2px 8px;
}
.btn-icon-text img {
  margin-right: 10px;
  width: 41px;
}

.btn-icon-text-small {
  padding: 2px 25px 2px 8px;
  display: flex;
  align-items: center;
}
.btn-icon-text-small img {
  width: 35px;
  margin-right: 4px;
}

.btn-loading-courtain {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  cursor: default;
}

.btn-prim .btn-loading-courtain {
  background-color: #0084ff;
}

.fake-link {
  display: inline;
  color: #0084ff;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.fake-link:hover {
  color: #43bdff;
}

.link-help {
  color: #00b18e;
}
.link-help:hover {
  color: #34edc8;
}

.navbar {
  width: 100vw;
  background-color: #3B4D5A;
  color: #F4FAFF;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.checkbox-container {
  display: inline-block;
}
.checkbox-container label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}
.checkbox-container label:hover {
  color: #0084ff;
}
.checkbox-container label:hover input ~ .checkmark {
  border-color: #0084ff;
}
.checkbox-container label input:checked ~ .checkmark {
  background-color: #0084ff;
}
.checkbox-container label input:hover:checked ~ .checkmark {
  background-color: #43bdff;
  border-color: #001217;
}
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}
.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #001217;
  transition: all 0.2s ease-in-out;
}
.checkbox-container .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6.5px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid #F4FAFF;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox-container.radio .checkmark {
  border-radius: 50%;
}
.checkbox-container.radio .checkmark::after {
  width: 8px;
  height: 8px;
  top: 3.2px;
  left: 3.2px;
  border: none;
  background-color: #F4FAFF;
  border-radius: 50%;
}

.section-gray-d .checkbox-container .checkmark {
  border-color: #F4FAFF !important;
}
.section-gray-d .checkbox-container:hover .checkmark {
  border-color: #43bdff !important;
}
.section-gray-d .checkbox-container:hover label {
  color: #43bdff;
}
.section-gray-d .checkbox-container:hover label input:checked ~ .checkmark {
  border-color: #F4FAFF !important;
}

.separator {
  padding: 15px 0;
  border-left: 1px solid #001217;
}

.scroll-columns {
  height: calc(100% - 55px);
  width: 100%;
  display: flex;
}
.scroll-columns .scroll-column {
  height: 100%;
  display: block;
  overflow-y: scroll;
}

.btn-sort {
  position: relative;
  background-color: transparent;
  width: 5px;
  padding: auto 0;
  transition: all 0.2s ease-in-out;
}
.btn-sort::after {
  position: absolute;
  content: "";
  border: 2px solid #F4FAFF;
  border-right: 0;
  border-top: 0;
  width: 12px;
  height: 12px;
  top: 3px;
  left: 18px;
  transform: rotateZ(-45deg);
  transition: all 0.2s ease-in-out;
}
.btn-sort:hover {
  background-color: #001217;
}
.btn-sort:hover::after {
  border-color: #F4FAFF !important;
}
.btn-sort.btn-sort-active {
  background-color: #0084ff;
}
.btn-sort.btn-sort-active:hover {
  background-color: #43bdff;
}
.btn-sort.btn-sort-active::before {
  border-color: #F4FAFF;
}
.btn-sort.btn-sort-desc::after {
  transform: rotateZ(135deg);
  top: 8px;
}

.section-gray .btn-sort.btn-sort-active::after {
  border-color: #F4FAFF;
}
.section-gray .btn-sort::after {
  border-color: #001217;
}

.btn-star {
  color: #B5C6D2;
  padding: 0;
  width: 100%;
  height: 100%;
}
.btn-star span {
  font-size: 30px;
}
.btn-star:hover {
  color: #3B4D5A;
}
.btn-star.btn-star-active {
  color: #e63a62 !important;
}
.btn-star.btn-star-active:hover {
  color: #a61c3c !important;
}

.list-item:hover .btn-star,
.list-item-active .btn-star {
  color: #3B4D5A;
}
.list-item:hover .btn-star:hover,
.list-item-active .btn-star:hover {
  color: #001217;
}
.list-item:hover .font-gray,
.list-item-active .font-gray {
  color: #E4EBEF;
}

.list-item {
  position: relative;
  background-color: #E4EBEF;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.list-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: #B5C6D2;
  transition: all 0.2s ease-in-out;
}
.list-item .item-column {
  border-right: 1px solid #B5C6D2;
  transition: all 0.2s ease-in-out;
}
.list-item .item-column:last-of-type {
  border: 0;
}
.list-item:hover::before {
  background-color: #3B4D5A;
}
.list-item:hover, .list-item.list-item-active {
  background-color: #B5C6D2;
}
.list-item:hover .item-column, .list-item.list-item-active .item-column {
  border-color: #3B4D5A;
}
.list-item.list-item-active {
  cursor: default;
}
.list-item.list-item-active::before {
  background-color: #0084ff;
}

.section-title {
  font-size: 24px;
  background-color: #B5C6D2;
  color: #001217;
  font-weight: bold;
  padding: 5px 15px;
  border-left: 10px solid #3B4D5A;
}

.filter-pill {
  background-color: #E4EBEF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  border-radius: 15px;
}
.filter-pill .btn {
  border-radius: 15px !important;
}
.filter-pill span:not(.phrase) {
  display: flex;
  align-items: center;
  padding: 8px 20px;
}
.filter-pill .phrase {
  display: inline-block;
  padding-left: 5px;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

._sizes {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 1000000;
}

._size {
  padding: 5px 15px;
  background-color: #ff2f40;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  border: 1px solid black;
}
._size.d-xl-flex {
  background-color: #2facff;
}
._size.d-lg-flex {
  background-color: #2fff86;
}
._size.d-md-flex {
  background-color: #d9ff2f;
}
._size.d-sm-flex {
  background-color: #ff712f;
}

.__scroll {
  min-height: 200vh;
}

.__red {
  background-color: #ff2f40;
}

.__orange {
  background-color: #ff712f;
}

.__yellow {
  background-color: #d9ff2f;
}

.__green {
  background-color: #2fff86;
}

.__blue {
  background-color: #2facff;
}