$_red: #ff0044;
$_orange: #ff4400;
$_yellow: #cfb700;
$_green: #00db25;
$_blue: #006aff;
$_black: #180e28;

._sizes {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000000;
}

._size {
    padding: 5px 15px;
    background-color: $_red;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border-left: 8px solid $_black;

    &.d-xl-flex {
        background-color: $_blue;
    }

    &.d-lg-flex {
        background-color: $_green;
    }

    &.d-md-flex {
        background-color: $_yellow;
    }

    &.d-sm-flex {
        background-color: $_orange;
    }
}

.__scroll {
    min-height: 200vh;
}

.__red {
    background-color: $_red;
}

.__orange {
    background-color: $_orange;
}

.__yellow {
    background-color: $_yellow;
}

.__green {
    background-color: $_green;
}

.__blue {
    background-color: $_blue;
}