.separator {
    padding: 15px 0;
    border-left: 1px solid $black;
}

.scroll-columns {
    height: calc(100% - 55px);
    width: 100%;
    display: flex;

    .scroll-column {
        height: 100%;
        display: block;
        overflow-y: scroll;
    }
}

.btn-sort {
    position: relative;
    background-color: transparent;
    width: 5px;
    padding: auto 0;
    transition: $transition;

    &::after {
        position: absolute;
        content: '';
        border: 2px solid $white;
        border-right: 0;
        border-top: 0;
        width: 12px;
        height: 12px;
        top: 3px;
        left: 18px;
        transform: rotateZ(-45deg);
        transition: $transition;
    }

    &:hover {
        background-color: $black;

        &::after {
            border-color: $white !important;
        }
    }

    &.btn-sort-active {
        background-color: $prim;

        &:hover {
            background-color: $prim-l;
        }

        &::before {
            border-color: $white;
        }
    }

    &.btn-sort-desc::after {
        transform: rotateZ(135deg);
        top: 8px;
    }
}

.section-gray .btn-sort {
    &.btn-sort-active::after {
        border-color: $white;
    }

    &::after {
        border-color: $black;
    }
}

.btn-star {
    color: $gray;
    padding: 0;
    width: 100%;
    height: 100%;

    span {
        font-size: $f-title;
    }

    &:hover {
        color: $gray-d;
    }

    &.btn-star-active {
        color: $wrong !important;

        &:hover {
            color: $wrong-d !important;
        }
    }
}

.list-item:hover,
.list-item-active {
    .btn-star {
        color: $gray-d;

        &:hover {
            color: $black;
        }
    }

    .font-gray {
        color: $gray-l;
    }
}

.list-item {
    position: relative;
    background-color: $gray-l;
    transition: $transition;
    cursor: pointer;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 10px;
        height: 100%;
        background-color: $gray;
        transition: $transition;
    }

    .item-column {
        border-right: 1px solid $gray;
        transition: $transition;

        &:last-of-type {
            border: 0;
        }
    }

    &:hover::before {
        background-color: $gray-d;
    }

    &:hover,
    &.list-item-active {
        background-color: $gray;

        .item-column {
            border-color: $gray-d;
        }
    }

    &.list-item-active {
        cursor: default;

        &::before {
            background-color: $prim;
        }
    }

}

.section-title {
    font-size: $f-subtitle;
    background-color: $gray;
    color: $black;
    font-weight: bold;
    padding: 5px 15px;
    border-left: 10px solid $gray-d;
}

.filter-pill {
    background-color: $gray-l;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    border-radius: 15px;

    .btn {
        border-radius: 15px !important;
    }

    span:not(.phrase) {
        display: flex;
        align-items: center;
        padding: 8px 20px;
    }

    .phrase {
        display: inline-block;
        padding-left: 5px;
        max-width: 150px;
        overflow: hidden;
        white-space: nowrap;
    }
}