.scroll-column-half {
    width: 50%;
}

.tabs-container {
    background-color: $gray;
    border-bottom: 2px solid $prim;
}

.tab {
    margin: 0;
    background-color: $gray-l;
    border-radius: 5px 5px 0 0 !important;
    font-weight: bold;
    font-size: $f-default;
    transition: $transition;

    &:hover {
        background-color: $prim-s;
    }

    &.tab-active {
        position: relative;
        outline: 2px solid $prim !important;
        background-color: $white;

        &::after {
            position: absolute;
            content: '';
            bottom: -2px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $white;
        }
    }
}

.spindle-container {
    background-color: $gray-l;
    border-left: 10px solid $gray-d;

    &.spindle-wrong {
        border-color: $wrong;
    }
}

.validation-list-item {
    border-left: 10px solid $gray;
    background-color: $white;
    transition: $transition;

    &.validation-list-item-correct {
        border-color: $sec;
        background-color: $sec-s;
    }

    &.validation-list-item-wrong {
        border-color: $wrong;
        background-color: $wrong-s;
    }
}