@import './variables.scss';

button,
.btn {
    border: 0 !important;
    border-radius: 0 !important;
    position: relative;

    &:focus {
        outline: 0 !important;
    }
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    transition: $transition;
    font-size: $f-default;
    white-space: nowrap;
}

.btn-prim {
    background-color: $prim;
    color: $white;

    &:hover {
        background-color: $prim-l !important;
        color: $white !important;
    }
}

.btn-sec {
    background-color: $black;
    color: $white;

    &:hover {
        background-color: $gray-d !important;
        color: $white !important;
    }
}

.navbar .btn-sec:hover,
.section-black .btn-sec:hover {
    background-color: $prim !important;
}

.btn-dis {
    background-color: $gray;
    color: $gray-l;
    cursor: default !important;

    &:active,
    &:focus,
    &:hover {
        background-color: $gray !important;
        color: $gray-l !important;
    }
}

.btn-x {
    background-color: $black;
    color: $white;

    &:hover {
        background-color: $wrong !important;
        color: $white !important;
    }
}

.btn-wrong {
    background-color: $wrong;
    color: $white;

    &:hover {
        background-color: $wrong-d !important;
    }
}

.btn-tet {
    background-color: $sec;
    color: $white;

    &:hover {
        background-color: $sec-d !important;
    }
}

.btn-tr {
    background-color: transparent;
    color: $black;

    &.btn-selected,
    &:hover {
        background-color: $gray;
        color: $black;
    }

    &.btn-active {
        background-color: $prim-l !important;

        &:hover {
            background-color: $prim-s !important;
        }
    }
}

.btn-item {
    background-color: $gray-l;
    color: $black;
    border: 1px solid $black !important;
    font-weight: bold;

    &:hover {
        border-color: $prim !important;
        background-color: $prim-s;
    }

    &.active {
        background-color: $prim-l;
    }
}

.section-gray .btn-tr:not(.btn-active):hover {
    background-color: $gray-l !important;
}

.btn-icon {
    padding: 4px;
    position: relative;

    .pill {
        position: absolute;
        bottom: 4px;
        right: 4px;
        background-color: $wrong;
        padding: 3px 8px;
        font-size: $f-small;
        color: $black;
        border-radius: 10px;
        font-weight: bold;
        transition: $transition;
    }

    &:hover .pill {
        background-color: $black;
        color: $white;
    }
}

.btn-dock {
    display: flex;
    justify-content: start;
    align-items: center;
    color: $white;

    &:hover {
        background: $courtain !important;
        color: $white !important;
    }

    img {
        padding-right: 10px;
    }

    span {
        padding-right: 8px;
    }

    &.active {
        background: $courtain;
        color: $white;
    }
}

.section-white .btn-dock {
    color: $black;
    background-color: $gray-l;

    &:hover {
        background-color: $gray !important;
        color: $black !important;
    }
}

.btn-full-width {
    width: 100%;
}

.btn-icon-small {
    padding: 2px !important;

    img {
        width: 35px;
    }
}

.btn-icon-text {
    padding: 2px 25px 2px 8px;

    img {
        margin-right: 10px;
        width: 41px;
    }
}

.btn-icon-text-small {
    padding: 2px 25px 2px 8px;
    display: flex;
    align-items: center;

    img {
        width: 35px;
        margin-right: 4px;
    }
}

.btn-loading-courtain {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    cursor: default;
}

.btn-prim .btn-loading-courtain {
    background-color: $prim;
}

.btn-sec .btn-loading-courtain {
    background-color: $black;
}

.fake-link {
    display: inline;
    color: $prim;
    text-decoration: underline;
    padding: 0;
    margin: 0;
    background-color: transparent;
    transition: $transition;

    &:hover {
        color: $prim-l;
    }
}

.fake-link-black {
    color: $black;
    text-decoration: none;
}

.link-help {
    color: $sec;

    &:hover {
        color: $sec-l;
    }
}