@import './variables.scss';

input,
textarea,
.form-control {
    display: block;
    width: 100%;
    border: 1px solid $black;
    background-color: $gray-l;
    border-radius: 0;
    color: $black;
    font-size: $f-default;
    padding: 8px 12px;
    transition: $transition;

    &:hover,
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: $prim;
    }

    &:focus {
        background-color: $prim-s;
        color: $prim;
    }

    &::placeholder {
        color: $gray-d;
    }
}

.input-wrong {
    border-color: $wrong;
    color: $wrong;
    background-color: $wrong-s;
}

label {
    display: block;
}

.input-btn {
    display: flex;

    input {
        border-right: 0;

        &:hover+button,
        &:focus+button {
            border-color: $prim !important;
        }
    }

    button {
        border: 1px solid $black !important;
        border-left: 0 !important;
        background-color: $gray-l;

        &:hover {
            background-color: $gray;
        }

        &.active {
            background-color: $prim-l;

            &:hover {
                background-color: $gray;
            }
        }
    }
}