@import './variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: $white;
    color: $black;
    font-size: $f-default;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container-xy {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.section-scroll {
    overflow-y: scroll;
    padding-right: 15px;
}

.section-black {
    background-color: $black;
    color: $white;

    hr {
        border-color: $gray-l;
    }
}

.section-white {
    background-color: $white;
    color: $black;

    hr {
        border-color: $gray-d;
    }
}

.section-gradient {
    background: $prim-d;
    background: $gradient-v;
}

.section-gradient-s {
    background: $gradient-s;
}

.transition {
    transition: $transition;
}

.font-title {
    font-size: $f-title !important;
}

.font-subtitle {
    font-size: $f-subtitle !important;
}

.font-big {
    font-size: $f-big !important;
}

.font-gray-d {
    color: $gray-d;
}

.font-gray {
    transition: $transition;
    color: $gray;
}

.font-wrong {
    color: $wrong;
}

.info-box {
    background-color: $gray-l;
    border-left: 10px solid $prim;
    padding: 15px 25px;
    background-color: $prim-s;
}

.warning-box {
    background-color: $gray-l;
    border-left: 10px solid $wrong;
    padding: 15px 25px;

    h3 {
        color: $wrong;
    }
}